---
// index du site
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout>
	<h1>Le skyblog des B1</h1>
	<p>Bienvenue sur notre blog, retrouvez nos supers articles hihi.</p>
</BaseLayout>

<style>
	body {
		color: red;
	}
</style>
