---
import "../styles/global.css";
// on importe les composants header et footer
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Notre super blog</title>
	</head>
	<body>
		<Header/>
		<main>
			<!-- La balise slot sera remplacée par le contenu des pages dans lesquelles on aura importé le layout BlogPost.astro -->
			<article>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		margin-left: auto;
		margin-right: auto;
		max-width: 900px;
	}
	article {
		padding: 20px;
		background-color: #bbb;
	}
</style>